version: 2.1

executors:
  java-executor:
    docker:
      - image: cimg/openjdk:17.0
    environment:
      GRADLE_OPTS: "-Dorg.gradle.daemon=false"

jobs:
  build-test-spotless:
    executor: java-executor
    steps:
      - checkout

      # Cache pre Gradle
      - restore_cache:
          keys:
            - gradle-{{ checksum "build.gradle" }}
            - gradle-

      - run:
          name: Grant permissions
          command: chmod +x ./gradlew

      - run:
          name: Run build
          command: ./gradlew build -x test --info

      - run:
          name: Run tests
          command: ./gradlew test --info

      - run:
          name: Run Spotless checks
          command: ./gradlew spotlessCheck --info

      - save_cache:
          key: gradle-{{ checksum "build.gradle" }}
          paths:
            - ~/.gradle

      - store_test_results:
          path: build/test-results

      - store_artifacts:
          path: build/reports/tests
          destination: test-reports

workflows:
  ci:
    jobs:
      - build-test-spotless
